<div class="salon">
    <img src="./assets/images/salon1.jfif" alt="" width="100%" height="300px">
</div>
<div class="container">
    <div class="grid1">
        <div class="row">
            <div class="col-sm-8">
                <h2>THE SALON AT LCBT</h2>
                <h4>The LCBT Salon open but with only limited treatments. Please contact our Salon for more information.</h4>
                <br>
                <p>Our LCBT Salon, based in our Ramillies Street site, just off Oxford Circus and opposite Fitness First, allows you to experience expert salon treatments at a fraction of the cost compared to high street prices!</p>
                <p>We offer a wide range of services that you would expect in any other salon – using a wide range of products which include Kaeso, Dermalogica, Yon-Ka, OPI and EVO Bio sculpture Gel.</p>
                <p>Our student therapists perform the treatments once they have successfully completed the necessary training, which provides them commercial experience to support them on their journey into the Hair, Make-Up and Beauty Industries. Salon sessions are fully supported and monitored by a qualified lecturer.</p>
                <p>For a more advanced service, our Level 3 students are able to upgrade your facial by using Dermalogica products, which will leave your skin feeling and looking fantastic!</p>
                <p>We also offer Level 4 Aesthetic facial treatments by using Mesoesthetic products, Renew tired looking skin by increasing collagen production to repair scars.</p>
                <p>Please note that as we are a training salon, not all treatments are available at all times – so please ring us to check availability.

                </p>
                <p>A small percentage of our student therapists are male, so please let us know if you will require a female therapist to perform your treatment.</p>

            </div>
            <div class="col-sm-4">
                <h6>Ramillies House</h6>
                <h6>1-2 Ramillies Street</h6>
                <h6>1st Floor</h6>
                <h6>London</h6>
                <h6>W1F 7LN</h6><br>
                <h6>Tel: 0207 208 1302</h6>
                <h6> LCBTsalon</h6><br>
                <h6>Salon opening hours:</h6>
                <h6>Monday-Thursday: 9am-8pm</h6>
                <h6>Friday: 9am-6pm</h6>
                <h6>Occasional Saturday: 9.30am-4.30pm</h6>
                <h6>Sunday: Closed</h6>
            </div>
        </div>
    </div>
    <div class="main">
        <h3>TREATMENTS</h3>
        <h4>TREATMENT OF THE MONTH</h4>
        <br>
        <div class="card-deck">
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/salon 1.jpg" alt="" width="200px" height="250px">
                <h6>TANNING TREATMENT!</h6>
                <p>Tanning – <b>Just £15</b></p>
                <i>For more information please contact our Salon</i>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/salon 2.jpg" alt=""  width="200px" height="250px">
                <h6>NAIL TREATMENTS</h6>
                <p><b>Only £20</b> - Manicure & Pedicure including OPI Nail Polish</p>
                <i>For more information please contact our Salon</i>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/salon 3.jpg" alt=""  width="200px" height="250px">
                <h6>WAXING OFFER</h6>
                <p>Waxing package under arm, bikini & half leg – <b>Only £15</b></p>
                <i>For more information please contact our Salon</i>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/salon 4.jpg" alt=""  width="200px" height="250px">
                <h6>EYE TREATMENTS</h6>
                <p>Eyebrow/Eyelash Tint & Shape – <b>Only £12.50</b></p>
                <i>For more information please contact our Salon</i>
              </div>
            </div>
          </div>
          <div class="grid2">
            <div class="card-deck">
                <div class="card bg-white">
                  <div class="card-body text-center">
                    <img src="./assets/images/salon 5.jpg" alt="" width="200px" height="250px">
                    <h6>FACIAL TREATMENTS</h6>
                    <p><b>Only £20</b> - Deep Cleansing Facials</p>
                    <i>For more information please contact our Salon</i>
                  </div>
                </div>
                <div class="card bg-white">
                  <div class="card-body text-center">
                    <img src="./assets/images/salon 6.jpg" alt="" width="200px" height="250px">
                    <h6>TREATMENT COMBO</h6>
                    <p><b>Only £20</b> - Advanced Facial & Body Treatment Combination</p>               
                     <i>For more information please contact our Salon</i>
                  </div>
                </div>
                <div class="card bg-white">
                  <div class="card-body text-center">
                    <img src="./assets/images/salon 7.jpg" alt="" width="200px" height="250px">
                    <h6>MEN'S HAIRCUTS</h6>
                    <p> <b>Only £5 </b>- Men's haircut, any length.</p>
                    <i>For more information please contact our Salon</i>
                  </div>
                </div>
                <div class="card bg-white">
                  <div class="card-body text-center">
                    <img src="./assets/images/salon 8.jpg" alt="" width="200px" height="250px">
                    <h6>HAIR TREATMENT OFFERS
                    </h6>
                    <p>All Hair Treatments - <b>20% Discount</b></p>
                    <i>For more information please contact our Salon</i>
                  </div>
                </div>
              </div>
          </div>
    </div>
    <h2>HAIR</h2>
    <div class="cards3">
    
      
      
        <div class="card bg-dark text-white">
            <div class="card-body">STYLING</div>
          </div>
      <br>
      <div class="card bg-dark text-white">
        <div class="card-body">MEN'S HAIR</div>
      </div>
      <br>
      <div class="card bg-dark text-white">
        <div class="card-body">TINT* & FINISH</div>
      </div>
      <br>
      <div class="card bg-dark text-white">
        <div class="card-body">HIGHLIGHTS/PARTIAL COLOUR* & FINISH</div>
      </div>
    </div>
<h2>BEAUTY</h2>
<div class="card4">
    <div class="card bg-dark text-white">
        <div class="card-body">HAIR REMOVAL</div>
      </div>
      <br>
      <div class="card bg-dark text-white">
        <div class="card-body">FACIALS</div>
      </div>
      <br>
      <div class="card bg-dark text-white">
        <div class="card-body">ADVANCED FACIALS</div>
      </div>
      <br>
      <div class="card bg-dark text-white">
        <div class="card-body">ADVANCED AESTHETIC TREATMENTS</div>
      </div>
      <br>
      <div class="card bg-dark text-white">
        <div class="card-body">EYE TREATMENTS</div>
      </div>
      <br>
      <div class="card bg-dark text-white">
        <div class="card-body">MASSAGE</div>
      </div>
      <br>
      <div class="card bg-dark text-white">
        <div class="card-body">NAILS</div>
      </div>
      <br>
      <div class="card bg-dark text-white">
        <div class="card-body">ELECTRICAL BODY TREATMENTS</div>
      </div>

</div>
</div>
