<div class="container">
    <div class="main1">
        <h1>LCBT JOB SHOP</h1>
        <br>
        <h3>HUNDREDS OF EMPLOYERS REGISTERED WITH OUR JOB SHOP</h3>
        <br>
        <h5>COURSES FOR CAREERS</h5>
        <br>
        <div class="card-columns">
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/job3.jfif" alt="">
                <h6>Advanced</h6>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/job2.jfif" alt="">
                <h6>Hairdressing</h6>
              </div>
            </div>
            
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/job1.jfif" alt="">
                <h6>Beauty</h6>
              </div>
            </div>
          </div>
        <p>Our aim is to meet your aims and aspirations for long term career prospects and 90% of our graduating students progress to Further/Higher Education or Employment.</p>
        <br>
        <p>Our team of advisors are here to help you find employment in your chosen area during and after your studies with us. Steiner, Benefit, Clarins, PureGym, Fitness First an Virgin Active are just a few of the excellent industry links LCBT maintain, meaning we always have a wide range of opportunities available to our students.</p>
        <br>
        <h5>JOB SHOP SERVICES FOR STUDENTS</h5>
        <ul>
            <li>CV Building – we can help you to present the information contained in your CV in the best way possible</li>
            <li>Career Advice and Guidance</li>
            <li>Interview Practice</li>
            <li>New jobs added regularly</li>
        </ul>
        <br>
        <p>If you are a current or previous student of LCBT and want access our Job Shop support and Job Vacanacies please contact our team on 020 7208 1300, email jobshop@lcbt.co.uk or drop by the college Job Shop.</p>
        <button class="btn btn-dark">SEARCH AND APPLY FOR A JOB</button>
    </div>
    <div class="main2">
        <h1>JOB SHOP – FOR EMPLOYERS</h1>
        <br>
        <p>Staffing is key to any business, but finding the right match of skills to your particular needs is usually costly, with agencies and advertising taking a large slice of your money and time. That’s where the LCBT Job Shop comes in; we have been offering a free recruitment service in a wide variety of sectors since 2000, placing thousands of candidates into work direct through us. This is a free service we offer to employers which matches your vacancy with hundreds of qualified students. If you have a vacancy in beauty, retail, customer service or front of house that you want us to advertise then follow the simple process:</p>
        <br>
        <ul>
            <li>Download the job vacancy form from <b> HERE</b></li>
            <li>Fully complete the job vacancy form</li>
            <li>Then either email the form to <b>jobshop@lcbt.co.uk</b> or click on the <b> “Register your Vacancy”</b> button below which should open up your send email.</li>

            <li>The job vacancy will be checked before posting on the website and being promoted to students. You may be called or email in regards to the job vacancy if there are any queries regarding.</li>
        </ul>
        <button class="btn btn-dark">REGISTER FOR THIS VACANCY</button>
    </div>
</div>
