<div class="container">
    <h1>WHAT MAKES US SPECIAL</h1>
    <div class="card-columns">
        <div class="card bg-white">
          <div class="card-body text-center">
            <img src="./assets/images/about img 1.jfif" alt="">
          </div>
        </div>
        <div class="card bg-white">
          <div class="card-body text-center">
            <img src="./assets/images/about img2.jfif" alt="">
          </div>
        </div>
        
        <div class="card bg-white">
          <div class="card-body text-center">
            <img src="./assets/images/about img3.jfif" alt="">
          </div>
        </div>
      </div>
    <br>
    <p>LCBT is one of the UK's leading vocational colleges, covering a wide range of courses in Beauty Therapy, Health & Fitness, Hair & Media Make Up and Employability Training. We also offer apprenticeships across sectors. Our average rate of progress for graduating learners to Further Education or employment is 85%.</p>
    <br>
    <ul>
        <li>OPEN ALL YEAR, 6 DAYS A WEEK & EVENINGS</li>
        <li>NO TERM BREAKS</li>
        <li>WEEKLY START DATES - ENROL AT ANY TIME</li>
    </ul>
    <h4>A FOCUS ON EMPLOYMENT</h4>
    <br>
    <p>In-house Job Shop with careers advisors and hundreds of jobs at any one time.</p>
    <p>Outstanding, average 90% student retention, success and progression rates. Daily industry talks and regular industry event opportunities for all students.</p>
<br>

    <h2>ABOUT US</h2>
    <br>
    <p>Founded by Eileen Cavalier OBE, the London College of Beauty Therapy (LCBT) has been established for over 23 years and is now one of the UK’s largest specialist, further education funded training colleges specialising in Beauty Therapy, Beauty Retail, Hair and Media Makeup, Hairdressing, Advanced Aesthetics, Advanced Epilation and Fitness courses.</p>
    <p>‘Courses for Careers' is at the heart of the LCBT’s mantra, training students through world-class teaching facilities and high quality teaching for sustainable jobs. Over the year LCBT has provided the opportunity for thousands of young people and adults, to obtain the qualifications, skills required and the confidence to embark on a lifetime careers in beauty, make-up, hairdressing and fitness, industries that are ever growing and thriving. LCBT work's closely with leading employers to ensure the courses and curriculum that are taught directly meets the skills and recruitment needs of the industry.</p>
    <p>Once qualified, students are supported onto higher education or employment through the close links that LCBT’s in-house job shop has established with key employers in the industry.</p>
    <p>LCBT training programme’s are completely flexible, offering certificate & diploma courses, short and advanced courses and apprenticeships. There are continual start dates throughout the year with groups enrolling daily at peak times, and with the option of daytime, evening and weekend courses, to enable both funded and non-funded students to find a course to suit them. Through its pioneering use of paper-free course delivery, training is taken right into the heart of the workplace, opening up career opportunities for more and more students – whilst also helping the college achieve its environmental goals.</p>
    
</div>

