<div class="short">
    <img src="./assets/images/short 1.png" alt="">
</div>
<div class="container">
    <div class="p1">
        <h1>SHORT COURSES</h1>
        <p>If you’re looking to gain a new qualification, upskill or get some extra CPD, LCBT's short courses are designed to do just that. On offer throughout the year, you’ll receive a certificate and be eligible for insurance upon completion to start practicing your new skills in your workplace and add the qualifications to your CV.</p>
        <p>In addition to offering our very own short courses, LCBT have also become a Sterex Academy and CIDESCO school delivering a range of advanced qualifications. LCBT's Sterex Academy courses allow you to build on skills gained from a Level 3 Beauty Therapy Diploma and develop yourself both professionally and personally, learning a range of advanced electrolysis techniques which will leave you ready for employment in a clinical environment. The CIBTAC Level 4 Aesthetic qualifications are designed to be flexible, giving a blended learning approach through audio and visual e-learning and minimal contact days. Each course allows you to build your qualifications gradually and in accordance with your individual needs.</p>
        <p>Click on any of the courses below to view more information and book yourself on to available dates.</p>
    </div>
    <div class="cards">
        <div class="card-deck">
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/short1.jpg" alt="" width="200px" height="350px">
                <h6>AIRBRUSH MAKE-UP WORKSHOP</h6>
                <p>£295.00 (inc. VAT)</p>
                <button class="btn btn-dark">MORE INFO</button>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/short2.jpg" alt="" width="200px" height="350px">
                <h6>ASIAN BRIDAL HAIR AND MAKE-UP WORKSHOP</h6>
                <p>£595.00 (inc. VAT)</p>
                <button class="btn btn-dark">MORE INFO</button>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                  <img src="./assets/images/short3.jpg" alt="" width="200px" height="350px">
                <h6>AURUM SPRAY TANNING</h6>
                <p>£110.00 (inc. VAT)</p>
                <button class="btn btn-dark">MORE INFO</button>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/short4.jpg" alt="" width="200px" height="350px">
                <h6>BRIDAL HAIR AND MAKE-UP WORKSHOP</h6>
                <p>£595.00 (inc. VAT)</p>
                <button class="btn btn-dark">MORE INFO</button>
              </div>
            </div>
          </div>
    </div>
    <br><br>
    <div class="cards1">
        <div class="card-deck">
            <div class="card bg-white">
              <div class="card-body text-center">
              <img src="./assets/images/short5.jpg" alt="" width="200px" height="350px">
              <h6>CIBTAC LEVEL 4 DIPLOMA IN AESTHETIC PRACTICE</h6>
              <p>£3,345.00 (inc. VAT)</p>
              <button class="btn btn-dark">MORE INFO</button>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/short6.jpg" alt="" width="200px" height="350px">
                <h6>CIBTAC LEVEL 4 DIPLOMA IN CHEMICAL PEELING AND MICRO-NEEDLING</h6>
                <p>£2,583.00 (inc. VAT)</p>
                <button class="btn btn-dark">MORE INFO</button>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/short7.jpg" alt="" width="200px" height="350px">
                <h6>CIDESCO INTERNATIONAL BEAUTY THERAPY DIPLOMA</h6>
                <p>£9,990.00 (inc. VAT)</p>
                <button class="btn btn-dark">MORE INFO</button>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/short8.jpeg" alt="" width="200px" height="350px">
                <h6>INDIVIDUAL EYELASH EXTENSIONS</h6>
                <p>£199.00 (inc. VAT)</p>
                <button class="btn btn-dark">MORE INFO</button>
              </div>
            </div>
          </div>
          
    </div>
    <br><br>
    <div class="cards2">
        <div class="card-deck">
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/short9.jpeg" alt="" width="200px" height="350px">
                <h6>INTIMATE WAXING</h6>
                <p>£110.00 (inc. VAT)</p>
                <button class="btn btn-dark">MORE INFO</button>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/short10.jpg" alt=""  width="200px" height="350px">
                <h6>LASH LIFT</h6>
                <p>£199.00 (inc. VAT)</p>
                <button class="btn btn-dark">MORE INFO</button>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/short11.jpeg" alt="" width="200px" height="350px">
                <h6>OPI GEL POLISH</h6>
                <p>£168.00 (inc. VAT)</p>
                <button class="btn btn-dark">MORE INFO</button>
              </div>
            </div>
            <div class="card bg-white">
              <div class="card-body text-center">
                <img src="./assets/images/short12.jpg" alt="" width="200px" height="350px">
                <h6>PROFESSIONAL DRAG MAKE-UP WORKSHOP</h6>
                <p>£295.00 (inc. VAT)</p>
                <button class="btn btn-dark">MORE INFO</button>
              </div>
            </div>
          </div>
    </div>
    
</div>
