<div class="nav-top">
    <div class="cbt">
        <h1>FASHION DESIGN COLLEGE OF BEAUTY THERAPY</h1>
    </div>
    

</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shortcourses">SHORTCOURSES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/traineeship">TRAINEESHIP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/salon">SALON</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/jobshop">JOBSHOP</a>
      </li>
     <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/news">NEWS</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus">ABOUTUS</a>
      </li>

  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/apply" id="navbardrop" data-toggle="dropdown">
          APPLY
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="apply/coursesenquery">COURSES ENQUERY</a>
         <!--<a class="dropdown-item" routerLink="apply/traineeship">TRAINEESHIP ENQUERY</a>,--> 
          <a class="dropdown-item" routerLink="apply/shortcourseenquery">SHORTCOURSE ENQUERY</a>
        </div>
      </li>
    </ul>
  </nav><br>

  
  
<router-outlet></router-outlet>
<hr>
<footer>
  <h3>OUR ACTIVATE PARTERNARS</h3>


<div class="row">
  <div class="col-sm-2"><img src="./assets/images/f1.png" alt=""></div>
  <div class="col-sm-2"><img src="./assets/images/f2.png" alt=""></div>
  <div class="col-sm-2"><img src="./assets/images/f3.png" alt=""></div>
  <div class="col-sm-2"><img src="./assets/images/f4.png" alt=""></div>
  <div class="col-sm-2"><img src="./assets/images/f5.png" alt=""></div>
  <div class="col-sm-2"><img src="./assets/images/f6.png" alt=""></div>
</div>
<div class="row">
  <div class="col-sm-2"><img src="./assets/images/f7.jfif" alt=""></div>
  <div class="col-sm-2"><img src="./assets/images/f8.png" alt=""></div>
  <div class="col-sm-2"><img src="./assets/images/f9.png" alt=""></div>
  <div class="col-sm-2"><img src="./assets/images/f10.png" alt=""></div>
  <div class="col-sm-2"><img src="./assets/images/f11.png" alt=""></div>
  
</div>
<hr>
<div class="row">
  <div class="col-sm-2">CAREERS AT LCBT</div>
  <div class="col-sm-2">SCHOOLS & COMMUNITIES</div>
  <div class="col-sm-2">FEES & FUNDING</div>
  <div class="col-sm-2">POLICIES & PROCEDURES</div>
  <div class="col-sm-1">COOKIE POLICY</div>
  <div class="col-sm-2">TERMS & CONDITIONS</div>
  <div class="col-sm-1">PRIVACY NOTICE</div>
  
</div>
<div class="rows">
  <div class="row">
    <div class="col-sm-12"><i class="far fa-copyright"></i>Copyright: all rights are reserved 2021<b>FDBT@gmail.com</b></div>
  </div>
</div>

</footer>


