
.cbt{
   
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
li{
    margin-left: 100px
}
footer{
    margin-top: 20px;
}
.rows{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}
b{
    margin-left: 50px;
}
footer h3{
    background-color: black;
    text-align: center;
    color: white;
}