<div class="row">
    <div class="col-sm-4"><img src="./assets/images/trainee1.jfif" alt="" width="500px" height="200px"></div>
    <div class="col-sm-4"><img src="./assets/images/trainee2.jfif" alt="" width="500px" height="200px"></div>
    <div class="col-sm-4"><img src="./assets/images/trainee3.jfif" alt="" width="500px" height="200px"></div>
</div>
<div class="container">
    <h2>Is a Traineeship for me?</h2>
    <h5>ARE YOU 16-24 (25 WITH AN EDUCATION HEALTH CARE PLAN) AND KEEN TO STARTING WORKING IN A CAREER BUT NEED THE RELEVANT SKILLS AND WORK EXPERIENCE?</h5>
<div class="grid1">
    <div class="row">
        <div class="col-sm-6">
            <h4>What is a Traineeship?</h4>
            <br>
            <p>A Traineeship is a free skills development programme that includes a work placement. Traineeships give individuals like you aged 16-24 (or 25 with an Education Health and Care Plan) the skills and experience you need to get you ready for an apprenticeship or a job.</p>
            <img src="./assets/images/grid1.jpg" alt="">
            <p>The aim is to provide work preparation training, English, maths and digital skills for those who need it, and a high-quality work experience placement to help you take the first steps in finding the right career for you.</p>
            <p>The full programme can last anywhere from six weeks to a maximum of 1 year (although most traineeships last less than 6 months), with the content tailored to your individual needs, including: </p>
            <p>1.  A meaningful work experience placement of at least 70hours with a local employer, which provides insight and experience of the world of work.</p>
            <p>2.  Work preparation training with LCBT to help to learnthe skills required in the working environment, build your confidence and support you in writing your CV.</p>
            <p>3.  English, maths and digital skills support with LCBT tohelp give you the literacy, numeracy and digital skillsneeded for the workplace.</p>
            <h5>What are the benefits of a Traineeship?</h5>
            <p>LCBT and the employer tailor the training programme around your needs. This means that they will support you to develop the skills and experience that you will need to secure an apprenticeship or job in the future.</p>
            <p>As a trainee, you will:</p>
            <ul type="checkbox">
                <li>Gain work experience in a supportive environment.</li>
            <li>Learn sector focused skills that are needed in the workplace.</li>
            <li>Improve your English, maths and digital skills where required.</li>
            <li>Help to increase your confidence and self-esteem around employment.</li>
            <li>Gain a greater understanding of what employers are looking for.</li>
        </ul>
        <h6>Will I be paid?</h6>
        <p>A traineeship is a learning programme including a work experience placement, not a job.</p>
        <p>Work experience placements are unpaid, but employers are encouraged to support expenses, such as for transport and meals.</p>
       
     <p>Depending on your circumstances, you may be eligible for support with education related costs. LCBT can help with this. You can also find more information below:</p>
  <ul>
      <li>https://www.gov.uk/1619-bursary-fund</li>
      <li>https://www.gov.uk/learner-support

      </li>
  </ul>
  <p>If you receive benefits, these should continue whilst you are completing your traineeship.</p>
  <p>It is advised that you speak to your Work Coach so that you can check your personal circumstances.</p>
    </div>
        <div class="col-sm-6">
            <h4>Why a Traineeship?</h4>
            <br>
            <p>If you are 16-24 (25 with an EHCP) and need the skills and work experience that employers are looking for, a Traineeship with LCBT will help you secure yourself an Apprenticeship or a job in Beauty, Health & Social Care or Digital Marketing.</p>
            <img src="./assets/images/grid2.jpg" alt="">
            <br>
            <p>LCBT are now offering Traineeships at both the Soho and Hoxton Campuses and will support you throughout your journey and set you up for success in your chosen industry.</p>
            <h5>You could be suitable for a Traineeship if you are:</h5>
            <ul>
                <li>Eligible to work in England</li>
                <li>Not currently in employment</li>
                <li>Have little or no work experience</li>
                <li>Motivated to work</li>
                <li>Aged 16 - 24 (25 with a EHC plan)</li>
                <li>Qualified up to, and including, Level 3 (A Levels or equivalent)</li>
            </ul>
            <h5>A Traineeship is probably not right for you, if you:</h5>
            <ul>
                <li>Already have the skills and experience needed to find an apprenticeship or work</li>
                <li>Are over the age of 24 (unless you are 25 with an EHCPlan)</li>
                <li>Are already in paid employment</li>
                <li>Already have a higher qualification than Level 3 e.g. Level 4 and above.</li>
                
            </ul>
            <h3>At the end of the Traineeship</h3>
            <p>At the end of the work experience placement. you will receive an exit interview with the employer. This is part of the programme to help to develop your interview techniques. They will also provide you with written feedback of your time spent in the work placement and where possible offer you a job interview.

            </p>
            <h5>Progression</h5>
            <p>Traineeships are designed to be a stepping-stone into an apprenticeship or employment. LCBT will find you the work placement employer during your Traineeships and support you with CV writing and interview techniques. LCBT will also help you with your next step, whether that's further education, an apprenticeship or a job in your chosen industry.</p>
            <h5>Do Traineeships Work?</h5>
            <i>Yes they do, evaluation of the programme nationally shows that:</i>
            <ul>
                <li>82% of trainees were satisfied with traineeships</li>
                <li>83% of trainees thought the programme helped them improve their chances in future job applications</li>
                <li>75% of trainees started in further learning, employment or an apprenticeship within 12 months of starting the Traineeship</li>
                
            </ul>
        </div>
    </div>
</div>
</div>
