<div class="container">
    <h3>SHORT COURSE ENQUIRY</h3>
    <br>
    <p>PLEASE FILL IN THE FORM BELOW TO SUBMIT YOUR ENQUIRY, WE WILL CONTACT YOU SHORTLY.</p>
    <i>Select the courses you are interested in from the lists below. </i>
    <br>
    <div class="container">
        <br>
        <div class="card bg-dark text-white">
          <div class="card-body">LCBT SHORT COURSES</div>
        </div>
        <br>
        <div class="card bg-dark text-white">
          <div class="card-body">LCBT SHORT COURSES FOR HAIR AND MAKE-UP</div>
        </div>
        <br>
        <div class="card bg-dark text-white">
          <div class="card-body">ADVANCED EPILATION/ELECTROLYSIS QUALIFICATIONS</div>
        </div>
        <br>
        <div class="card bg-dark text-white">
          <div class="card-body"> CIBTAC – QUALIFICATIONS IN SKIN STUDIES & AESTHETIC PRACTICE
        </div>
        </div>
      </div>
      <br>
      <br>
      <div class="para">
          <h4>PERSONAL DETAILS</h4>
          <table>
            <tr>
                <td>First Name</td>
                <td><input type="text"></td>
            </tr>
            <br>
            <tr>
                <td>Last Name</td>
                <td><input type="text"></td>
            </tr>
            <br>
            <tr>
                <td>Date of Birth *</td>
                <td><input type="date" name="" id=""></td>
            </tr>
            <br>
            <tr>
                <td>Home Phone *</td>
                <td><input type="number" name="" id=""></td>
            </tr>
            <br>
            <tr>
                <td>Mobile Phone</td>
                <td><input type="number" name="" id=""></td>
            </tr>
            <br>
            <tr>
                <td>Email Address *</td>
                <td><input type="email" name="" id=""></td>
            </tr>
            <br>
            <tr>
                <td>Confirm Email Address *</td>
                <td><input type="email" name="" id=""></td>
            </tr>
        </table>
      </div>
      <h5 class="bg-dark text-white">ADDRESS DETAILS</h5>
      <table>
          <tr>
              <td>Address Line 1 *</td>
              <td><input type="text"></td>
          </tr>
          <br>
          <tr>
              <td>Address Line 2 </td>
              
              <td><input type="text"></td>
          </tr>
          <br>
          <tr>
              <td>Address Line 3 </td>
              <td><input type="text"></td>
          </tr>
          <br>
          <tr>
              <td>City or Town *</td>
              <td><input type="text"></td>
          </tr>
          <br>
          <tr>
              <td>Postcode *</td>
              <td><input type="number" name="" id=""></td>
          </tr>
          <br>
          <tr>
              <td>Country *</td>
              <td><input type="text"></td>
          </tr>
      </table>
      <br><br>
      <div class="btm">
          <h5>HOW INFORMATION ABOUT YOU WILL BE USED</h5>
          <p>We do not disclose any information to any company not associated with LCBT in its application and interview process of the enquiry, except to help prevent a crime, or if required to do so by law.</p>
          <p>By submitting this enquiry form you are giving an instruction to LCBT to contact you back in relation to course(s) that you are interested in undertaking with us, and therefore allowing LCBT to contact you back either by post, phone or email only in regards to the enquiry you have made.</p>
          <p><input type="checkbox" name="" id=""> I agree to the Terms and Conditions</p>
          <br>
          <button class="btn btn-dark">SUBMIT</button>
      </div>
</div>
