<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/images/app3.jpg" alt="Los Angeles" width="2000px">
    </div>
  
    <div class="carousel-item">
      <img src="./assets/images/app2.jpg" alt="New York">
    </div>
    <div class="carousel-item">
      <img src="./assets/images/app1.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<div class="container">
<div class="course">
    <h2>COURSES</h2>
    <p>At LCBT the opportunities are endless. We are proud to offer a range of courses to suit your needs ranging from Level 1 to Advanced Level 4 and CPD to a Foundation Degree. There are a variety of ways to pay including Government funding, Adult Learner Loans and 12 months interest free private finance. The specialist courses available will give you a lifetime passport to a successful career in Beauty, Hair, Make-up or Fitness. We work with leading brands to support you in achieving your goals and aspirations and have fantastic progression routes and links to the industry.</p>
</div>
<hr>
<div class="card1">
<div class="card-deck">
    <div class="card bg-white">
      <div class="card-body text-center">
        <h5>Hair & Media Make-Up Courses</h5>
        <ul>
            <li>Level 2 & 3 diplomas in hair & media make-up</li>
            <li>New this year - Level 3 & 4 advanced technical diplomas specialising in theatrical, media or special effects</li>
            <li>Government funded, adult learner loans and private finance options available</li>
            <li>Leading industry specialist tutors</li>
            <li>Monthly start dates</li>
            <li>Work placements available with leading brands</li>
        </ul>
        <button class="btn btn-dark">FOR MORE</button>
      </div>
    </div>
    <div class="card bg-white">
      <div class="card-body text-center">
        <img src="./assets/images/course1.jpg" alt="no" width="200px" height="380px">
      </div>
    </div>
    <div class="card bg-white">
      <div class="card-body text-center">
        <h5>Hairdressing Courses</h5>
        <ul>
            <li>Level 2 diploma in women and men’s hairdressing</li>
            <li>New this year – Level 3 diploma in hair services</li>
            <li>Government funded, adult learner loans and private finance options available</li>
            <li>Leading industry specialist tutors</li>
            <li>Monthly start dates</li>
            <li>Work placements available with leading brands</li>
        </ul>
        <button class="btn btn-dark">FOR MORE</button>
      </div>
    </div>
    <div class="card bg-white">
      <div class="card-body text-center">
        <img src="./assets/images/course2.jpg" alt="no"  width="200px" height="380px">
      </div>
    </div>
  </div>
</div>
  <div class="card2">
    <div class="card-deck">
        <div class="card bg-white">
          <div class="card-body text-center">
            <h5>Nail Courses</h5>
            <ul>
                <li>Level 3 Certificate in artificial nail structures</li>
                <li>Improve your skills and increase your earning potential</li>
                <li>2 days a week over 3 months</li>
                <li>Kit and uniform included</li>
                <li>Adult learner loans and private finance options available</li>
                <li>Manicure unit required and pedicure unit beneficial</li>
            </ul>
            <button class="btn btn-dark">FOR MORE</button>
          </div>
        </div>
        <div class="card bg-white">
          <div class="card-body text-center">
            <img src="./assets/images/course3.jpg" alt="no" width="200px" height="380px">
          </div>
        </div>
        <div class="card bg-white">
          <div class="card-body text-center">
            <h5>Beauty Therapy Courses</h5>
            <ul>
                <li>Level 2 & 3 diplomas in beauty therapy</li>
                <li>Level 4 diploma in advanced aesthetics</li>
                <li>Government funded, adult learner loans and private finance options available</li>
                <li>Leading industry specialist tutors</li>
                <li>Monthly start dates</li>
                <li>Work placements available with leading brands</li>
            </ul>
            <button class="btn btn-dark">FOR MORE</button>
          </div>
        </div>
        <div class="card bg-white">
          <div class="card-body text-center">
            <img src="./assets/images/course4.jpg" alt="no"  width="200px" height="380px">
          </div>
        </div>
      </div>
  </div>
  <div class="card3">
    <div class="card-deck">
        <div class="card bg-white">
          <div class="card-body text-center">
            <h5>CIDESCO</h5>
            <ul>
                <li>The world standard for prestigious beauty and spa therapy</li>
                <li>International Beauty Therapy Diploma highly recognised worldwide qualification</li>
                <li>11 month programme over 4 days a week</li>
                <li>600 hours work in salon or spa required</li>
                <li>Private finance options available</li>
            </ul>
            <br><br><br><br>
            <button class="btn btn-dark">FOR MORE</button>
          </div>
        </div>
        <div class="card bg-white">
          <div class="card-body text-center">
            <img src="./assets/images/course5.jpg" alt="no"  width="200px" height="380px" >
          </div>
        </div>
        <div class="card bg-white">
          <div class="card-body text-center">
            <h5>Advanced Courses</h5>
            <ul>
                <li>CIBTAC accredited Level 4 Diploma</li>
                <li>Micro needling, non-surgical blemish removal and chemical peel</li>
                <li>Adult learner loans and private finance options available</li>
                <li>6-10 month course with blended learning options</li>
                <li>Assessed through assignments, case studies and practical assessments and final exam</li>
                <li>Entry level: FS Level 2 in English and Beauty Therapy Level 2 & 3</li>
                <li>Medical Practitioners can apply by just completing facial award</li>
            </ul>
            <button class="btn btn-dark">FOR MORE</button>
          </div>
        </div>
        <div class="card bg-white">
          <div class="card-body text-center">
            <img src="./assets/images/course6.jpg" alt="no" width="200px" height="380px">
          </div>
        </div>
      </div>
      
  </div>
  <div class="card4">
    <div class="card-deck">
        <div class="card bg-white">
          <div class="card-body text-center">
            <h5>Short Courses</h5>
            <ul>
                <li>Private short courses from 1 day to 3 months</li>
                <li>Commercial Professional Development (CPD)</li>
                <li>Improve your skills and increase your earning potential</li>
                <li>12 months interest free finance options available (minimum £1000)</li>
                <li>Variety of courses including Russian lashes, intimate waxing and advanced </li>
                
            </ul>
            <button class="btn btn-dark">FOR MORE</button>
          </div>
        </div>
        <div class="card bg-white">
          <div class="card-body text-center">
            <img src="./assets/images/course7.jpeg" alt="no" width="200px" height="380px" >
          </div>
        </div>
        <div class="card bg-white">
          <div class="card-body text-center">
            <h5>Fitness Courses</h5>
            <ul>
                <li>Level 2 Diploma in Health & Fitness</li>
                <li>Level 2 Award in Studio Cycling</li>
                <li>Leading industry specialist tutors</li>
                <li>Monthly start dates</li>
                <li>Working with leading fitness companies and gyms to accelerate your career</li>
                <li>Free course if referred by Job Centre plus and eligibility criteria met</li>
                <li>Private finance options also available</li>
            </ul>
            <button class="btn btn-dark">FOR MORE</button>
          </div>
        </div>
        <div class="card bg-white">
          <div class="card-body text-center">
            <img src="./assets/images/course8.jpg" alt="no" width="200px" height="380px" >
          </div>
        </div>
      </div>
  </div>
</div>
